*{
    margin: 0;
    padding: 0;
}

.grid{

    width: 90%;
    max-width: 250px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    font-family: 'Open Sans', sans-serif;
   
}

.grid div{
    text-align: center;
}

.header {
    background-color: #de4d53;
    color: white;
    font-size: large;
    padding: 70px;
    grid-column: span 2;
}
.menu { 
    background-color: #4fffb5;
    color: #273449;
    font-size: large;
    padding: 70px;
    grid-column: span 2;
}
.main {
    background-color: #273449;
    color: white;
    font-size: large;
    padding: 70px;
    grid-column: span 2;
}

.banner{
    background-color: #f9d279;
    color: 273449;
    font-size: large;
    padding: 70px;
    grid-column: span 2;
}